<div class="container">
  <div class="main">
    <div class="float half">
      <div class="row"><label class="title">Voice</label><input type="text" id="attr_character_name" name="attr_character_name" /></div>
      <div class="row"></div>
      <div class="row skill">
        <label class="title">Skill 1</label>
        <div></div>
        <input type="text" id="attr_skill_1" name="attr_skill_1" /><button type="roll" name="roll_kampf_init" value="@{character_name} roll @{skill_1} with [[1d6cs>3cf<2]]"></button>
      </div>
      <div class="row skill">
        <label class="title">Skill 2</label>
        <div></div>
        <input type="text" id="attr_skill_2" name="attr_skill_2" /><button type="roll" name="roll_kampf_init" value="@{character_name} roll @{skill_2} with [[1d6cs>3cf<2]]"></button>
      </div>
      <div class="row skill">
        <label class="title">Skill 3</label>
        <div></div>
        <input type="text" id="attr_skill_3" name="attr_skill_3" /><button type="roll" name="roll_kampf_init" value="@{character_name} roll @{skill_3} with [[1d6cs>3cf<2]]"></button>
        A 3rd skill will cost 3 starting Will Power
      </div>
      <div class="row skill roll">
        <label class="form-sub-label" for="input_r" id="sublabel_input_11">Roll the bones</label>
        <button type="roll" name="roll_kampf_init" value="@{character_name} roll [[1d6cs>6cf<5]]"></button>
      </div>
    </div>
    <div class="float half">
      <div class="row bid">
        <label class="title">Will Power</label><label class="title">Bid</label>
        <div></div>
        <select class="" id="attr_willbid" name="attr_will">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option selected value="10">10</option>
        </select>
        <select class="" id="attr_willbid" name="attr_willbid">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <button class="bidbutton" type="roll" value="/w gm @{character_name} bids @{willbid}"></button>
      </div>
      <div class="row"></div>
      <div class="row obsession">
        <label class="title">Obsession 1</label><label class="title">Times</label> <input type="text" id="attr_obsession_1" name="attr_obsession_1" /><input
          type="number"
          id="attr_obsession_1_times"
          name="attr_obsession_1_times"
          value="0"
        />
      </div>
      <div class="row obsession">
        <label class="title">Obsession 2</label><label class="title">Times</label> <input type="text" id="attr_obsession_2" name="attr_obsession_2" /><input
          type="number"
          id="attr_obsession_2_times"
          name="attr_obsession_2_times"
          value="0"
        />
      </div>
      <div class="row obsession">
        <label class="title">Obsession 3</label><label class="title">Times</label> <input type="text" id="attr_obsession_3" name="attr_obsession_3" /><input
          type="number"
          id="attr_obsession_3_times"
          name="attr_obsession_3_times"
          value="0"
        />
      </div>
      <div class="row obsession">
        <div></div>
        <div></div>
        <div class="total">Total</div>
        <input type="number" id="attr_obsession_total" name="attr_obsession_total" value="0" readonly />
      </div>
      <div class="row"></div>
    </div>
    <div class="float notes">
      <div class="title">Notizen</div>
      <fieldset class="repeating_notes">
        <div class="options notes-row">
          <input type="text" name="attr_title" placeholder="Titel" />
          <textarea name="attr_body" placeholder="Inhalt"></textarea>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<script type="text/worker">
  on("change:obsession_1_times change:obsession_2_times change:obsession_3_times", function() {
      getAttrs(["obsession_1_times", "obsession_2_times", "obsession_3_times"], function(values) {
          let obsession_1_times = parseInt(values.obsession_1_times) || 0;
          let obsession_2_times = values.obsession_2_times || 0;
          let obsession_3_times = parseInt(values.obsession_3_times) || 0;
  			setAttrs({ obsession_total: Math.floor((obsession_1_times * 1) + (obsession_2_times * 2) + (obsession_3_times * 3)) });
      });
  });
</script>
